.body {
  background: #06BDC1;
  background: -webkit-radial-gradient(ellipse at center, #06BDC1, #68469F);
  background: -moz-radial-gradient(ellipse at center, #06BDC1, #68469F);
  background: radial-gradient(ellipse at center, #06BDC1, #68469F);
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

}